.container_greenupweb {
  padding: 6% 14% 0 14%;
}
.container_greenupweb img {
  width: 60%;
  margin-top: 2em;
}
.description_greenupweb {
  width: 46%;
  text-align: right;
  font-weight: 300;
}
.container_greenupweb .title_section {
  display: flex;
  justify-content: space-between;
  align-items: top;
}
.single_bullet {
  display: flex;
}

.single_bullet .bold {
  font-weight: bold;
}

a.link-web {
  text-decoration: underline;
  color: #181818;
  font-size: 1.5em;
  padding-left: 1em;
}

/* @media screen and (max-width: 768px) {
  .container_greenupweb {
    padding: 3%;
  }
  .description_greenupweb {
    padding: 0 7%;
    width: auto;
  }
  .container_greenupweb .title_section {
    margin-bottom: 2em;
    display: block;
  }
  .container_greenupweb img {
    width: 80%;
  }
} */

@media screen and (max-width: 768px) {
  .container_greenupweb {
    padding: 3%;
  }
  .description_greenupweb {
    padding: 0 7%;
    width: auto;
  }
  .container_greenupweb .title_section {
    margin-bottom: 2em;
    display: block;
  }
  .container_greenupweb img {
    width: 100%;
  }
  /* .container_greenupapp .summary {
      text-align: right;
    } */
  .single_bullet {
    margin-bottom: 0.5em;
    font-weight: 300;
    font-size: 0.9em;
    /* text-align: right; */
  }
  a.link-web {
    text-decoration: underline;
    color: #181818;
    font-size: 1.5em;
    padding-left: 1em;
    padding-top: 1em;
  }
}
