.App {
  text-align: center;
}

.container {
  padding: 20%;
}

.title {
  font-size: 3em;
  padding-bottom: 0.3em;
}

.subtitle {
  font-size: 1.5em;
  margin-bottom: 0.3em;
}

.desc {
  font-size: 1.5em;
}

.resume {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1em;

}

.icons {
  margin-top: 10em;
}

.icon {
  margin-right: 20px;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;

}

a:hover {
  color: cadetblue;
  text-decoration: none;

}