.App {
  text-align: center;

}

.text::selection {
  background: cadetblue;
  color: #fff;
  text-shadow: none;
}

.container {
  /* height: 100vh;
  width: 100vw; */

  padding: 20%;
  /* overflow: hidden; */
  /* position: fixed; */
  /* background-color: red; */
}

.title {
  font-size: 3em;
  font-weight: bold;
  padding-bottom: 0.3em;
  /* text-shadow: 0.05em 0.05em 0 cadetblue; */
}

.subtitle {
  font-size: 1.5em;
  margin-bottom: 0.3em;
}

.desc {
  font-size: 1.5em;
}

.resume-a::selection {
  background: black;
  color: #fff;
}

.resume {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1em;
}



.icons {
  margin-top: 10em;
}

.icon::selection {
  background: white;
}

.icon {
  margin-right: 20px;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;

}

a:hover {
  color: cadetblue;
  text-decoration: none;

}